<div class="row">
  <% if @party.status == "open"%>
  <h3 class="page-header">New Order</h3>
  <% elsif @party.status == "closed"%>
  <h3 class="page-header">Closed Order</h3>
  <% end %>

  <h4>Server: <%= @party.server.name %></h4>
  <h4>Table: <%= @party.table_number %></h4>
  <h4>Party of <%= @party.number_seats%></h4>
  <h4>Status: <%= @party.status%></h4>


<% if @party.status == "open"%>
</div>

<div class="row">
  <table class="orders desktop">
    <tr>
      <th>Order Item</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>

    <% @orders.each do |order| %>

      <tr>
        <td><%= order.food.name %></td>
        <td>$<%= sprintf "%.2f", order.food.price %></td>
        <td class="food-order" data-start-time="<%= order.created_at %>" data-food-status="<%= order.status %>"><%= order.status %></td>
        <td>
          <form class="delete" action="/tickets/<%= order.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Remove Item</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="mobile">
    <ul>
    <% @orders.each do |order| %>
    <li class="order-modal-open" data-order-id="<%=order.id%>">
    - <%= order.food.name %> -
  </li>
      <div class="order-modal" id="<%=order.id%>">
        <div class="order-modal-content">
          <div class="close-order-modal" data-order-id="<%=order.id%>">X</div>
          <div class="order-modal-body">
            Order Item: <%= order.food.name %><br/>
            Price: $<%= sprintf "%.2f", order.food.price %><br/>
            Status: <span class="food-order" data-start-time="<%= order.created_at %>" data-food-status="<%= order.status %>"><%= order.status %></span><br/>
            <form class="delete" action="/tickets/<%= order.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button type="submit">X</button>
            </form>
          </div>
        </div>
      </div>
    <% end %>
    </ul>
  </div>
</div>

<div class="row total-price">
    Total Price: $<%= "#{@total.to_s}0" %><br/>
</div>





<div class="row">

    <div class="ccms_form_element cfdiv_custom" id="style_container_div">
    <label>Add Item:</label>
    <select size="1" id="foodChoices" class=" validate['required']" title="" type="select" name="style">
      <option value="">-Choose A Course-</option>
      <% @courses.each do |course|%>
      <option class="course-selection" value="<%= course %>">
        <%= course %>
      </option>
      <% end %>
    </select>

    <div class="clear"></div>

    <div id="error-message-style"></div>

    </div>

  <div id="Drinks"  class="style-sub-1"  style="display: none;" name="stylesub1" onchange="ChangeDropdowns(this.value)">
    <form name="myForm"  action="/tickets/party/<%= @party.id %>" method="post" onsubmit="return validateForm()">
      <label>Which Kind of Drink?</label>
        <select name="item_order[food_id]" required>
          <option value="">-Choose A Drink-</option>
          <% @foods_Drinks.each do |food|%>
          <option class="" value="<%= food.id %>">
            <%= food.name %>
          </option>
          <% end %>
        </select>
      <input type="hidden" name="item_order[server_id]" value="<%= @party.server_id %>">
      <input type="hidden" name="item_order[party_id]" value="<%= @party.id %>">
      <input type="hidden" name="item_order[status]" value="preparing"><br/>
      <button type="submit" name="button">Add Item</button>
    </form>
  </div>

  <div id="Appetizers"  class="style-sub-1"  style="display: none;" name="stylesub1" onchange="ChangeDropdowns(this.value)">
    <form name="myForm" action="/tickets/party/<%= @party.id %>" method="post" onsubmit="return validateForm()">
      <label>Which Kind of Appetizer?</label>
        <select name="item_order[food_id]" required>
        <option value="">-Choose An Appetizer-</option>
        <% @foods_Appetizers.each do |food|%>
        <option class="" value="<%= food.id %>">
          <%= food.name %>
        </option>
        <% end %>
        </select>
      <input type="hidden" name="item_order[server_id]" value="<%= @party.server_id %>">
      <input type="hidden" name="item_order[party_id]" value="<%= @party.id %>">
      <input type="hidden" name="item_order[status]" value="preparing"><br/>
      <button type="submit" name="button">Add Item</button>
    </form>
  </div>

  <div id="Entrees"  class="style-sub-1"  style="display: none;" name="stylesub1" onchange="ChangeDropdowns(this.value)">
    <form name="myForm" action="/tickets/party/<%= @party.id %>" method="post" onsubmit="return validateForm()">
      <label>Which Kind of Entree?</label>
        <select name="item_order[food_id]" required>
          <option value="">-Choose An Entree-</option>
          <% @foods_Entrees.each do |food|%>
          <option class="" value="<%= food.id %>">
            <%= food.name %>
          </option>
          <% end %>
        </select>
      <input type="hidden" name="item_order[server_id]" value="<%= @party.server_id %>">
      <input type="hidden" name="item_order[party_id]" value="<%= @party.id %>">
      <input type="hidden" name="item_order[status]" value="preparing"><br/>
      <button type="submit" name="button">Add Item</button>
    </form>
  </div>

  <div id="Sides"  class="style-sub-1"  style="display: none;" name="stylesub1" onchange="ChangeDropdowns(this.value)">
    <form name="myForm" action="/tickets/party/<%= @party.id %>" method="post" onsubmit="return validateForm()">
      <label>Which Kind of Side?</label>
        <select name="item_order[food_id]" required>
        <option value="">-Choose A Side-</option>
        <% @foods_Sides.each do |food|%>
        <option class="" value="<%= food.id %>">
          <%= food.name %>
        </option>
        <% end %>
        </select>
      <input type="hidden" name="item_order[server_id]" value="<%= @party.server_id %>">
      <input type="hidden" name="item_order[party_id]" value="<%= @party.id %>">
      <input type="hidden" name="item_order[status]" value="preparing"><br/>
      <button type="submit" name="button">Add Item</button>
    </form>
  </div>

  <div id="Desserts"  class="style-sub-1"  style="display: none;" name="stylesub1" onchange="ChangeDropdowns(this.value)">
    <form name="myForm" action="/tickets/party/<%= @party.id %>" method="post" onsubmit="return validateForm()">
      <label>Which Kind of Dessert?</label>
        <select name="item_order[food_id]" required>
        <option value="">-Choose A Dessert-</option>
        <% @foods_Desserts.each do |food|%>
        <option class="" value="<%= food.id %>">
          <%= food.name %>
        </option>
        <% end %>
        </select>
      <input type="hidden" name="item_order[server_id]" value="<%= @party.server_id %>">
      <input type="hidden" name="item_order[party_id]" value="<%= @party.id %>">
      <input type="hidden" name="item_order[status]" value="preparing"><br/>
      <button type="submit" name="button">Add Item</button>
    </form>
  </div>
  <div class="clear"></div><div id="error-message-style-sub-1"></div></div>
</div>

<div class="row">

    <button class="checkout-button" type="submit">Checkout</button>

</div>





<div class="row">
  <form class="admin" action="/">
    <button type="submit">Main</button>
  </form>
  <form class="admin" action="/tickets/server/<%=@party.server.id%>">
    <button type="submit"><%= "#{@party.server.name.split(" ")[0]}'s"%> Tables</button>
  </form>
</div>
</div>
<% end %>
<% if @party.status == "open" || @party.status == "closed"%>
<div class="modal">

  <div class="modal-content">
    <% if @party.status == "open"%>
    <form action="/tickets/checkout/<%= @party.id %>" method="post">
      <button type="submit" id="close-modal">X</button>
    </form>
    <% elsif @party.status == "closed"%>
    <button id="close-modal-out">X</button>
    <% end %>
    <div class="modal-body">
      <h3>Receipt</h3>
      Date: <%= @party.reservation_date %>
      Table Number: <%= @party.table_number%><br/>
      Server: <%= @party.server.name%>
      <div class="">
          <% @receipt.each do |food| %>
            - <span id="receipt"><%= "#{food[0]} x#{food[1]} $#{sprintf "%.2f", food[1]*food[2]}"%></span> - <br/>
          <% end %>
        Subtotal: $<span id="subtotal"><%= sprintf "%.2f", @total %></span><br/>
        Total: $<span id="total"></span><br/>

        Suggested Tip:<br/>
        <div class="tips">
          15%: $<span class="tip admin"><%= sprintf "%.2f", @total*0.15 %></span>
          20%: $<span class="tip admin"><%=  sprintf "%.2f", @total*0.20 %></span>
          25%: $<span class="tip admin"><%=  sprintf "%.2f", @total*0.25 %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
<% if @party.status == "closed"%>
  <button class="see-receipt" type="submit">See Receipt</button><br/>
<%end%>
<% if @party.status == "closed" || @party.status == "upcoming"%>
  <a href="/parties"><button type="submit">Reservations</button></a>
<% end %>
