<div class="row">
  <h1 class="menu">Menu</h1>

  <form class="admin" action="/admin">
    <button type="submit">Admin</button>
  </form>

  <form class="admin" action="/foods/new">
    <button type="submit">Add Item</button>
  </form>

</div>

<div class="row menu">
  <h2 class="menu-heading">Drinks</h2>

  <ul>
    <% @foods_Drinks.each do |drink| %>
      <li>
        <a class="admin" href="/foods/<%= drink.id %>"><%= drink.name %></a>
        $<%= drink.price.to_i %>
        <form class="admin" action="/<%= drink.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Remove Item</button>
        </form>
      </li>
    <% end %>
  </ul>


  <h2 class="menu-heading">Appetizers</h2>

  <ul>
    <% @foods_Appetizers.each do |appetizer| %>
      <li>
        <a href="/foods/<%= appetizer.id %>"><%= appetizer.name %></a>
        $<%= appetizer.price.to_i %>
        <form class="admin" action="/foods/<%= appetizer.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Remove Item</button>
        </form>
      </li>
    <% end %>
  </ul>


  <h2 class="menu-heading">Entrees</h2>

  <ul>
    <% @foods_Entrees.each do |entree| %>
      <li>
        <a href="/foods/<%= entree.id %>"><%= entree.name %></a>
        $<%= entree.price.to_i %>
        <form class="admin" action="/foods/<%= entree.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Remove Item</button>
        </form>
      </li>
    <% end %>
  </ul>


  <h2 class="menu-heading">Sides</h2>

  <ul>
    <% @foods_Sides.each do |side| %>
      <li>
        <a href="/foods/<%= side.id%>"><%= side.name %></a>
        $<%= side.price.to_i %>
        <form class="admin" action="/foods/<%= side.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Remove Item</button>
        </form>
      </li>
    <% end %>
  </ul>


  <h2 class="menu-heading">Desserts</h2>

  <ul>
    <% @foods_Desserts.each do |dessert| %>
      <li>
        <a href="/foods/<%= dessert.id %>"><%= dessert.name %></a>
        $<%= dessert.price.to_i %>
        <form class="admin" action="/foods/<%= dessert.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Remove Item</button>
        </form>
      </li>
    <% end %><br/>
  </ul>

</div>
