<div class="row">
  <h3 class="page-header">Menu Item</h3>

  <form class="admin" action="/foods">
    <button type="submit">Menu</button>
  </form><br/>
</div>

<div class="row admin-forms">
  <h4>Name: <%= @food.name %><br/>
    Course: <%= @food.course %><br/>
    Allergen: <%= @food.allergens %><br/>
    Price: $<%= @food.price.to_i %></h4>

  <form class="admin-forms" action="/foods/<%= @food.id %>/edit">
    <button type="submit">Edit Item</button>
  </form>
</div>
