<div class="row">
  <h2 class="page-header" >Reservations for <%= @formattedDate %></h2>
</div>

<div class="row">

  <form class="date-form" action="/parties/date" method="get">
    <input class="datepicker" type="text" name="reservation_date" placeholder="Select a Date"><br/>
    <button class="select-date-button" id="date_submit2" class="" type="button">&#10004</button>
    <input id="submit_handle2" type="submit" style="display: none">
  </form>
  <form class="admin all-b" action="/parties">
    <button class="all-button" type="submit">All</button>
  </form>
</div>

<div class="tables">
  <div class="row">

  <%(1..16).to_a.each do |num|%>
    <% tableocc = false %>
    <% @parties.each do |party| %>
      <% if party.table_number === num %>
          <div class="two columns">
            <form class= "res-table" action="/tickets/party/<%= party.id%>" method="post">
              <button class="full" type="submit" name="party_id" value="<%= party.id %>"><%= num %></button>
            </form>
          </div>
        <% tableocc = true %>
      <% end %>
    <%end%>
    <%if tableocc === false%>
      <div class="two columns">
        <form class="res-table" action="/parties/new/<%= @date %>" method="post">
          <button  class="empty" type="submit" name="table_number" value="<%=num%>"><%= num %></button>
        </form>
      </div>
    <%end%>


    <% if num % 4 == 0%>
      </div>
      <div class="row">
    <% end %>


  <%end%>


  </div>
</div>
<div class=row>
  <form class="admin" action="/admin">
    <button type="submit">Admin</button>
  </form>
</div>
