<div class="row">
  <h3 class="page-header">All Reservations</h3>
</div>

<div class="row">

  <form class="date" action="/parties/date" method="get">
    <input class="datepicker" type="text" name="reservation_date"><br/>
    <button type="submit">Select Date</button>
  </form>
  <form class="date" action="/parties/date" method="get">
    <input type="hidden" name="reservation_date" value="<%=Date.today.to_s.gsub('-','')%>"><br/>
    <button type="submit">Today</button>
  </form>

</div>

<div class="row">
  <div class="desktop">
    <table>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>Table Number</th>
        <th>Server</th>
        <th>Number of Guests</th>
        <th>Status</th>
        <th></th>
      </tr>
      <% @parties.each do |party| %>
        <tr>
          <td><a href="/tickets/party/<%= party.id %>"><button type="button" name="button">Go</button></a></td>
          <td><%= party.reservation_date %></td>
          <td><%= party.reservation_time %></td>
          <td style="text-align: center;"><%= party.table_number %></td>
          <td><%= party.server.name %></td>
          <td style="text-align: center;"><%= party.number_seats %></td>
          <td class="<%= party.status %>"><%= party.status %></td>
          <td>
          <form class="delete" action="/parties/<%=party.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" name="button">Delete</button>
          </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="mobile">
    <ul>
      <% @parties.each do |party| %>
        <li class="shadow">
          <a href="/tickets/party/<%= party.id %>">Date: <%= party.reservation_date %><br/>
            Time: <%= party.reservation_time %><br/>
            Table Number: <span style="text-align: center;"><%= party.table_number %></span><br/>
            Server: <%= party.server.name %><br/>
            Party of <span style="text-align: center;"><%= party.number_seats %></span><br/>
            Status: <span class="<%= party.status %>"><%= party.status %></span><br/></a>
          <form class="delete" action="/parties/<%=party.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" name="button">X</button>
          </form>
        </li>
      <% end %>
  </div>
  <form class="admin" action="/admin">
    <button type="submit">Admin</button>
  </form>
</div>
